*
{
    margin: 0;
    padding:0;
}

header
{
    background: black;
}

/*---------Navigation--------*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img
{
    height: 40px;
    padding-left: 30px;
}

.navbar-nav li
{
    padding: 0 10px;
}

.navbar-nav li a
{
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover
{
    color: pink!important;
}

.navbar
{
    background: #fff;
}

.navbar-toggler
{
    border: none!important;
}

.nav-link
{
    color: black!important;
    font-weight: 600;
    font-size: 16px;
}

/*------Slider-----*/
#slider
{
    width: 100%;
}

.caption
{
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    font-family: "Sans-serif";
}
.caption figcaption
{
    color: white;
    font-size: 42px;
}